@media print {
    div {
        -webkit-backdrop-filter: none;
                backdrop-filter: none;
    }
}

#story-content {
    width: 65%;
    margin-right: 1rem;
    padding: 0 1rem;
    color: inherit;
}

#footnotes {
    width: 35%;
    border-color: var(--teal);
}

#left-column > div {
    background-color: inherit;
}

#page {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

td, th {
    border: var(--purple) solid 1px;
    padding: 4px 0.5rem;
}

table tr:first-child {
    width: 1px;
}