@media print {
    div {
        -webkit-backdrop-filter: none;
                backdrop-filter: none;
    }
}

.story-content {
    width: 65%;
    margin-right: 1rem;
    padding: 0 1rem;
    color: inherit;
}

.footnotes {
    width: 35%;
}

.half-width {
    width: 50%;
}

.page {
    display: flex;
    flex-direction: row;
}

.page > div:last-child {
    margin-right: 0;
    border-color: var(--teal);
}

.terminal-normal p {
    /* font-family: "G.B.BOOT", monospace; */
    /* font-size: large; */
    text-align: left;
}

.terminal-root p {
    /* font-family: "G.B.BOOT", monospace; */
    /* font-size: large; */
    text-align: left;
}

@media screen {
    .terminal-normal {
                backdrop-filter: brightness(25%) blur(25px);
        -webkit-backdrop-filter: brightness(25%) blur(25px);
    }
    .terminal-normal p {
        color: lime;
    }

    .terminal-root {
                backdrop-filter: brightness(25%) blur(25px);
        -webkit-backdrop-filter: brightness(25%) blur(25px);
    }
    .terminal-root p {
        color: red;
    }
}

table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

td, th {
    border: var(--purple) solid 1px;
    padding: 4px 0.5rem;
}

table tr:first-child {
    width: 1px;
}