@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVuSans.ttf");
}

#outer-bound {
  width: 30rem;
  margin: 6rem auto;
}

#deck0 {
  font-family: "DejaVu Sans", monospace;
}

pre {
  font-family: "Fira Code", monospace;
  width: min-content;
  height: 21.85em;
  margin: 4% auto;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

span {
  cursor: pointer;
}
