#outer-bound {
  width: 30rem;
  margin: 6rem auto;
}

pre {
  width: min-content;
  height: 21.85em;
  margin: 4% auto;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

span {
  cursor: pointer;
}
